<a href="https://colab.research.google.com/github/PrashanthReddyKonda/Prashanth/blob/main/id3_decision_trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [ ]:
data = pd.read_csv('/content/diabetes.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
data.tail()

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [ ]:
data.describe

<bound method NDFrame.describe of      Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]>

In [ ]:
data.shape

(768, 9)

In [ ]:
corr = data.corr()
print(corr)

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

In [ ]:
print(data.mean())

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [ ]:
print(data.std())

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [ ]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
X = data.drop('Outcome', axis=1)  
y = data['Outcome']

In [ ]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
print(X_train)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
558           11      103             68  ...  46.2                     0.126   42
705            6       80             80  ...  39.8                     0.177   28
123            5      132             80  ...  26.8                     0.186   69
79             2      112             66  ...  25.0                     0.307   24
560            6      125             76  ...  33.8                     0.121   54
..           ...      ...            ...  ...   ...                       ...  ...
448            0      104             64  ...  33.6                     0.510   22
27             1       97             66  ...  23.2                     0.487   22
284            2      108             80  ...  27.0                     0.259   52
33             6       92             92  ...  19.9                     0.188   28
651            1      117             60  ...  33.8                     0.466   27

[614 rows x 8 columns]

In [ ]:
print(y_train)

558    0
705    0
123    0
79     0
560    1
      ..
448    1
27     0
284    1
33     0
651    0
Name: Outcome, Length: 614, dtype: int64

In [ ]:
print(X_test)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
465            0      124             56  ...  21.8                     0.452   21
178            5      143             78  ...  45.0                     0.190   47
693            7      129             68  ...  38.5                     0.439   43
581            6      109             60  ...  25.0                     0.206   27
687            1      107             50  ...  28.3                     0.181   29
..           ...      ...            ...  ...   ...                       ...  ...
727            0      141             84  ...  32.4                     0.433   22
2              8      183             64  ...  23.3                     0.672   32
576            6      108             44  ...  24.0                     0.813   35
756            7      137             90  ...  32.0                     0.391   39
613            6      105             80  ...  32.5                     0.878   26

[154 rows x 8 columns]

In [ ]:
print(y_test)

465    0
178    0
693    1
581    0
687    0
      ..
727    0
2      1
576    0
756    0
613    0
Name: Outcome, Length: 154, dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
data_Check = LogisticRegression()
data_Check.fit(X_train, y_train)
y_pred = data_Check.predict(X_test)
correct = (y_pred == y_test).sum()
accuracy = correct/len(y_test)*100
print("accuracy = ", accuracy, "%")

accuracy =  81.16883116883116 %

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
from sklearn.tree import DecisionTreeClassifier  
data_classifier = DecisionTreeClassifier()  
data_classifier.fit(X_train, y_train) 
y_pred = data_classifier.predict(X_test)


correct = (y_pred==y_test).sum()
accuracy = correct/len(y_test)*100
print("accuracy = ", accuracy, "%")

accuracy =  66.88311688311688 %

In [ ]:
from sklearn.svm import SVC  
svclassifier = SVC(kernel='linear')  
svclassifier.fit(X, y)

y_pred = svclassifier.predict(X)
correct = (y_pred==y).sum()
accuracy = correct/len(y)*100
print("accuracy = ", accuracy, "%")

accuracy =  77.734375 %

In [ ]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(X, y) 
y_pred = gnb.predict(X)
correct = (y_pred==y).sum()
accuracy = correct/len(y)*100
print("accuracy = ", accuracy, "%")

accuracy =  76.30208333333334 %

In [ ]:
class Students:
     def __init__(self,a="Cmrit"):
         self.a=a
 
     def display(self):
         print(self.a)
obj=Students()
obj.display()

Cmrit

In [ ]:
class test:
     def __init__(self,c="hello world"):
         self.c=c
 
     def display(self):
         print(self.c)
obj=test()
obj.display()

hello world